/* ***********
  Resets
************** */

*,
*::before, *::after {
  margin: 0;
  box-sizing: border-box;
}

fieldset,
ul,
button { padding: 0; }

input,
textarea,
button {
  font-size: inherit;
  font-family: inherit;
}

/* ***********
  Global
************** */

:root {
  /*  Set up colors
      Picked on https://coolors.co/ff595e-fe938c-fffefa-488cd5-62c332 */

  --background-color: #FFFEFA;
  --fade-gradient: linear-gradient(180deg, rgba(255, 254, 250, 0), rgba(255, 254, 250, 1) 90%);
  --logo-color: #488CD5;
  --action-color: #FF595E;
  --secondary-action-color: #FE938C;
  --action-highlight: #DE773B;
  --success: #62C332;
}

html {
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  background-color: var(--background-color);
}

button {
  --background: var(--action-color);
  border-radius: 1rem;
  border: 2px solid var(--action-color);
  background: var(--background);
  color: white;
  font-weight: 800;
}

button:hover { background: linear-gradient(to bottom, rgba(255, 255, 255, .5), rgba(255, 255, 255, 0)) var(--background); }

button:active { background: linear-gradient(to bottom, rgba(55, 55, 55, 0), rgba(55, 55, 55, .2)) var(--background); }

a:link { color: var(--logo-color); }
a:visited { color: var(--success); }
a:hover { color: var(--action-color); }

/* ***********
  Forms
************** */

#todo-form,
#project-form {
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: 9999;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, .85);
}

form {
  display: flex;
  flex-flow: column;
  width: 90%;
  font-size: 1.3rem;
}

form > label { margin-bottom: .5rem; }

form label {
  color: var(--logo-color);
  font-weight: 800;
}

form > input,
form > textarea,
form > fieldset { margin-bottom: 1rem; }

form > input,
form > textarea {
  border: 2px solid var(--logo-color);
  border-radius: 2px;
}

form textarea {
  resize: none;
}

form fieldset {
  background: none;
  border: none;
}

form button { font-size: 1.5rem; }

.form-buttons-container button { float: left; }

.form-buttons-container::after {
  content: "";
  display: block;
  clear: left;
}

.close-btn {
  width: 33.333%;
  --background: var(--secondary-action-color); 
}
.save-btn { width: 66.666%; }

#todo-form.hidden,
#project-form.hidden {
  display: none;
}

/* ***********
  Content container
************** */

#content {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

#projects-container {
  flex: 1 1;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  scroll-padding-left: .5rem;
  padding-top: .5rem;
  padding-bottom: .5rem;
  display: flex;
  flex-flow: row nowrap;
}

/* ***********
  Projects
************** */

#projects-container::before,
#projects-container::after {
  content: "";
  display: block;
  flex: 0 0 .5rem;
  scroll-snap-type: none;
}

.project {
  flex: 0 0 calc(100% - 1rem);
  max-width: calc(100% - 1rem);
  scroll-snap-align: start;

  /* visual */
  padding: .75rem;
  border-radius: 1.5rem;
  background-clip: padding-box;
  margin-right: .5rem;
  box-shadow: 0 0 .25rem rgba(0, 0, 0, .33),
              0 1.25rem .25rem -1rem rgba(0, 0, 0, .66);

  position: relative;
}

.project header {
  width: 100%;
  height: 3rem;
  border-radius: 1.5rem;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;

  display: flex;
  padding: 0 .75rem;
  
  background-color: var(--logo-color);
  color: white;
  box-shadow: 0 .15rem .15rem rgba(0, 0, 0, .66);
}

header h2 {
  flex: 1 1 auto; 
  line-height: 3rem;
  font-size: 2rem;
  font-weight: 600;
  font-style: italic;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.project header .etc-menu {
  align-self: center;
  --color: black;
}

.project .project-todos {
  height: 100%;
  overflow-y: auto;

  padding-top: 2.5rem;

  border-bottom-left-radius: 1.25rem;
  border-bottom-right-radius: 1.5rem;

  position: relative;
}

.project .project-todos::after {
  content: "";
  display: block;
  height: 4rem;
}

.project::after {
  content: "";
  display: block;
  height: 3.5rem;
  width: calc(100% - 1rem);
  position: absolute;
  z-index: 2;
  bottom: .75rem;
  left: .5rem;
  background: var(--fade-gradient);
}

.project > button {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;

  position: absolute;
  right: .5rem;
  bottom: .5rem;
  z-index: 3;

  box-shadow: 0 0 .2rem rgba(0, 0, 0, .5),
              .2rem .2rem .2rem rgba(0, 0, 0, .5);
}

.project > button::before,
.project > button::after {
  content: "";
  display: block;
  width: 2.6rem;
  height: .6rem;
  border-radius: .6rem;
  background: white;
  position: absolute;
  left: 50%;
  top: 50%;
  transform-origin: center center;
}

.project > button::before { transform: translate(-50%, -50%); }

.project > button::after { transform: translate(-50%, -50%) rotate(90deg); }

/* ***********
  Scroll interface
************** */

.scroller {
  display: flex;
  flex-flow: row nowrap;
}

.segment {
  height: 1rem;
  flex-grow: 1;
  position: relative;
}

.segment::before {
  content: "";
  display: block;
  height: 1rem;
  width: 1rem;
  position: absolute;
  left: 50%;
  transform: translate(-50%) scale(.6, .6);
  border-radius: 50%;
  border: 1px solid var(--success);
  background-color: var(--background-color);
  transition-property: transform, background-color, border-color;
  transition-duration: .2s;
}

.segment.active::before {
  border-color: var(--success);
  background-color: var(--success);
  box-shadow: 0 0 3px var(--success);
  transform: translate(-50%) scale(1, 1);
}

/* ***********
  App menu bar
************** */
#menu-bar { position: relative; }

#menu-bar header {
  height: 60px;
  position: relative;
  text-align: center;
}

#menu-bar h1 {
  font-size: 2.4rem;
  line-height: 60px;
  color: var(--logo-color);
  text-shadow: 1px 1px white, 3px 4px 2px black;
}

#app-menu-button {
  position: absolute;
  display: block;
  height: 40px;
  width: 40px;
  top: 10px;
  left: 10px;
  border: 2px solid var(--action-color);
  --background: var(--secondary-action-color);
  border-radius: 4px;
  cursor: pointer;
}

#app-menu-button::before,
#app-menu-button div,
#app-menu-button::after {
  content: "";
  display: block;
  width: 75%;
  height: 10%;
  background-color: white;
  border-radius: 4px;
  position: absolute;
  top: 45%;
  left: 10%;
  transform-origin: center center;
  transition: transform .2s ease-in-out,
              opacity .2s ease-in-out;
}

#app-menu-button::before {
  transform: translateY(-250%);
}

#app-menu-button::after {
  transform: translateY(250%);
}

#app-menu-button.open::before {
  transform: rotate(45deg);
}

#app-menu-button.open div {
  opacity: 0;
}

#app-menu-button.open::after {
  transform: rotate(-45deg);
}

#app-menu {
  height: calc(100vh - 60px);
  width: 100vw;
  position: absolute;
  z-index: 8888;
  transform: translate(-100%);
  transition: transform .3s cubic-bezier(0.645, 0.045, 0.355, 1);
  background: var(--background-color);
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

#app-menu.open {
  transform: translate(0);
}

#app-menu ul {
  list-style: none;
  flex: 1;
  margin-bottom: 1em;
  overflow: visible auto;
}

#app-menu li > * { width: 100%; }

/* ***********
  Todos
************** */

.todo {
  display: flex;
  flex-flow: row nowrap;
  position: relative;
}

.todo .etc-menu,
.todo .due-date { align-self: center; }

.todo .due-date {
  white-space: nowrap;
  padding: .15em .2em;
  border-radius: .15em;
}

.todo:not(.done) .due-date:not(:empty) {
  background: var(--logo-color);
  color: var(--background-color);
}

.todo .title {
  flex-grow: 1;
  cursor: pointer;
  padding: .75rem .25rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.todo .title,
.todo .due-date {
  transition: color .2s ease-in,
              background .2s ease-in;
}

.todo.done .title,
.todo.done .due-date { color: gray; }

.todo > :nth-child(n+2) { margin-left: 1em; }

.todo::after {
  content: "";
  display: block;
  width: calc(100% - 4rem);
  height: 2px;
  margin-left: 1.5rem;
  position: absolute;
  top: 50%;
  background: var(--success);
  transform: scaleX(0);
  transform-origin: left;
  transition: transform .2s ease-in;
}

.todo.done::after {
  transform: scaleX(1);
}

.check {
  position: relative;
  cursor: pointer;
}

.check input {
  display: none;
}

.check .checkmark {
  top: 50%;
  transform: translateY(-50%);
  position: relative;
  display: inline-block;
  width: 1.25rem;
  height: 1.25rem;
  background-color: white;
  border: 1px solid var(--logo-color);
  border-radius: 4px;
  pointer-events: none;
}

input:checked ~ .checkmark { border-color: var(--success); }

.check .checkmark::after {
  content: "";
  width: 30%;
  height: 80%;
  position: absolute;
  top: 60%;
  left: 50%;
  border: solid var(--success);
  border-width: 3px 0 0 3px;
  transform-origin: left top;
  transform: rotate(220deg);
  display: none;
}

.check input:checked ~ .checkmark::after { display: block; }

/* ***********
  Etc Menu
************** */

.etc-menu {
  position: relative;
  --color: var(--secondary-action-color);
}

.etc-menu .etc {
  height: 2rem;
  width: 2rem;
  cursor: pointer;
  position: relative;
}

.etc span,
.etc::before,
.etc::after {
  content: "";
  display: block;
  width: 5px;
  height: 5px;
  background-color: var(--color);
  border-radius: 2.5px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.etc::before { left: 20%; }
.etc::after { left: 80%; }

.etc-menu ul {
  position: absolute;
  right: 2px;
  list-style: none;
  padding: .2em;
  z-index: 9999;
  transform: scaleY(0);
  transform-origin: center top;
  background: var(--background-color);
  border-radius: .2em;
  color: var(--color);
  box-shadow: 0 0 2px rgba(0, 0, 0, .33),
              1px 4px 2px -2px rgba(0, 0, 0, .66);
  transition: transform .2s ease-in-out;
}

.etc-menu.open ul { transform: scaleY(1); }

.etc-menu li {
  padding: .4em .5em;
  cursor: pointer;
}

.etc-menu li:hover { background-color: rgba(0, 0, 0, .05); }

.etc-menu li:active { background-color: rgba(0, 0, 0, .1); }

/*  *******
  Font resizing
    ******* */

@media (max-width: 1080px) {
  html { font-size: 13px; }
}

@media (max-width: 800px) {
  html { font-size: 12px; }
}

/*  *******
  Landscape layout
    ******* */

@media screen and (min-aspect-ratio: 3/2) and (orientation: landscape) {

  #content {
    display: block;
    height: auto;
  }

  #menu-bar {
    position: fixed;
    width: 25%;
    height: 100%;
    border-right: 1px solid var(--action-color);
    box-shadow: .25rem 0 .25rem rgba(0, 0, 0, .33);
  }

  #app-menu {
    position: static;
    width: auto;
    transform: none;
  }

  #app-menu-button { display: none; }

  #projects-container {
    margin: 0;
    margin-left: 25%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-template-rows: minmax(300px, calc(50vh - 1.5rem));
    grid-auto-rows: minmax(300px, calc(50vh - 1.5rem));
    gap: 1rem;
    padding: 1rem;
    overflow-x: auto;
    scroll-snap-type: none;

  }

  #projects-container::before,
  #projects-container::after {
    content: none;
  }

  .scroller { display: none; }
}
